
<div class="divbody"> 
            
    <div class="divheader">
        <div class="headicons headhome"><a href="#">Home</a></div>
        <div class="headicons headproduct"><a href ="#">Products</a>
            <div class="head-product-nav">
                <ul>
                    <li><a href="#">eset</a></li>
                    <li><a href="#">software</a></li>
                    <li><a href="#">hardware</a></li>
                    <li><a href="#">supporting</a></li>
                    <li><a href="#">firewall</a></li>
                </ul>
            </div>
        </div>
        <div class="headicons headsupport"><a href="#">Support</a></div>
        <div class="headicons headabout"><a href="#">About Us</a><div>
    </div>
</div> 